.FileList {
  min-height: 200px;
  border: solid 1px;
  margin: 0 auto;
  text-align: left;
  max-height: calc(100vh - 300px);
  overflow-y: scroll!important;
}

.file-item {
  padding: 5px;
  border-bottom: solid 1px;
}

.file-item p {
  margin: 0;
}
